name: Build and Push C App

on:
  push:
    branches: [ "main" ]
    paths:
     - 'Dockerfile'           # src目录下的所有文件
  pull_request:
    branches: [ "main" ]
    paths:
     - 'Dockerfile'           # src目录下的所有文件

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # 关键权限

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .                   # 构建上下文目录
          file: ./Dockerfile           # ✅ 明确指定 Dockerfile 路径
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/docker_south_polar_bear:latest
            ghcr.io/${{ github.repository_owner }}/docker_south_polar_bear:${{ github.sha }}
